<a href="https://colab.research.google.com/github/GeetAvaneesh/Exploratory-Data-Analytics-project-on-smoking-data-set-22BDS0343/blob/main/22BDS0343_EDA_Theory_GeetAvaneesh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
# we have a data set  about smoking lets explore the dat set and see what conclusion we can reach

In [154]:
# libraries
import pandas as pd
import numpy as np

In [155]:
# getting teh csv file into colab
from google.colab import files
uploaded = files.upload()

Saving smoking.csv to smoking (2).csv

In [156]:
df = pd.read_csv('smoking.csv')

In [157]:
df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [158]:
# display first n rows
df.head(10)

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
5,6,Female,37,Married,GCSE/O Level,British,White,"15,600 to 20,800",The North,No,NaN,NaN,NaN
6,7,Male,53,Married,Degree,British,White,"Above 36,400",The North,Yes,6.0,6.0,Packets
7,8,Male,44,Single,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
8,9,Male,40,Single,GCSE/CSE,English,White,"2,600 to 5,200",The North,Yes,8.0,8.0,Hand-Rolled
9,10,Female,41,Married,No Qualification,English,White,"5,200 to 10,400",The North,Yes,15.0,12.0,Packets

In [159]:
# if we want to number of smokers/nonsmokers
df['smoke'].value_counts()
# this will give the count of occurence of each uniqe value in the column smoke

smoke
No     1270
Yes     421
Name: count, dtype: int64

In [160]:
# so we can see here that in this data set there are 421 smokers and 1270 smokers

In [161]:
# to get an overview about the entire data set
df.describe()

          rownames          age  amt_weekends  amt_weekdays
count  1691.000000  1691.000000    421.000000    421.000000
mean    846.000000    49.836192     16.410926     13.750594
std     488.293969    18.736851      9.892988      9.388292
min       1.000000    16.000000      0.000000      0.000000
25%     423.500000    34.000000     10.000000      7.000000
50%     846.000000    48.000000     15.000000     12.000000
75%    1268.500000    65.500000     20.000000     20.000000
max    1691.000000    97.000000     60.000000     55.000000

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691 entries, 0 to 1690
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rownames               1691 non-null   int64
 1   gender                 1691 non-null   object
 2   age                    1691 non-null   int64
 3   marital_status         1691 non-null   object
 4   highest_qualification  1691 non-null   object
 5   nationality            1691 non-null   object
 6   ethnicity              1691 non-null   object
 7   gross_income           1691 non-null   object
 8   region                 1691 non-null   object
 9   smoke                  1691 non-null   object
 10  amt_weekends           421 non-null    float64
 11  amt_weekdays           421 non-null    float64
 12  type                   421 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 171.9+ KB

In [163]:
# we can perform the reshaping of the data set aking the columns as rows using:
pivoted = df.T
pivoted.columns = df.index.astype(str)

In [164]:
pivoted

,0,1,2,3,4,5,6,7,8,9,...,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690
rownames,1,2,3,4,5,6,7,8,9,10,...,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691
gender,Male,Female,Male,Female,Female,Female,Male,Male,Male,Female,...,Male,Female,Male,Male,Female,Male,Female,Male,Female,Male
age,38,42,40,40,39,37,53,44,40,41,...,53,63,35,78,31,22,49,45,51,31
marital_status,Divorced,Single,Married,Married,Married,Married,Married,Single,Single,Married,...,Single,Married,Married,Widowed,Single,Single,Divorced,Married,Married,Married
highest_qualification,No Qualification,No Qualification,Degree,Degree,GCSE/O Level,GCSE/O Level,Degree,Degree,GCSE/CSE,No Qualification,...,No Qualification,No Qualification,No Qualification,No Qualification,Other/Sub Degree,No Qualification,Other/Sub Degree,Other/Sub Degree,No Qualification,Degree
nationality,British,British,English,English,British,British,British,English,English,English,...,Scottish,British,Scottish,Scottish,Scottish,Scottish,English,Scottish,English,Scottish
ethnicity,White,White,White,White,White,White,White,White,White,White,...,White,White,White,White,White,White,White,White,White,White
gross_income,"2,600 to 5,200","Under 2,600","28,600 to 36,400","10,400 to 15,600","2,600 to 5,200","15,600 to 20,800","Above 36,400","10,400 to 15,600","2,600 to 5,200","5,200 to 10,400",...,"20,800 to 28,600",Refused,"10,400 to 15,600",Refused,"5,200 to 10,400","2,600 to 5,200","2,600 to 5,200","5,200 to 10,400","2,600 to 5,200","10,400 to 15,600"
region,The North,The North,The North,The North,The North,The North,The North,The North,The North,The North,...,Scotland,Scotland,Scotland,Scotland,Scotland,Scotland,Scotland,Scotland,Scotland,Scotland
smoke,No,Yes,No,No,No,No,Yes,No,Yes,Yes,...,No,No,Yes,No,No,No,Yes,No,Yes,No
amt_weekends,NaN,12.0,NaN,NaN,NaN,NaN,6.0,NaN,8.0,15.0,...,NaN,NaN,3.0,NaN,NaN,NaN,20.0,NaN,20.0,NaN
amt_weekdays,NaN,12.0,NaN,NaN,NaN,NaN,6.0,NaN,8.0,12.0,...,NaN,NaN,12.0,NaN,NaN,NaN,20.0,NaN,20.0,NaN
type,NaN,Packets,NaN,NaN,NaN,NaN,Packets,NaN,Hand-Rolled,Packets,...,NaN,NaN,Packets,NaN,NaN,NaN,Hand-Rolled,NaN,Packets,NaN

In [165]:
# we can also pivot the data frame using:
Stack_data= df.stack()

In [166]:
Stack_data

0     rownames                                1
      gender                               Male
      age                                    38
      marital_status                   Divorced
      highest_qualification    No Qualification
                                     ...
1690  nationality                      Scottish
      ethnicity                           White
      gross_income             10,400 to 15,600
      region                           Scotland
      smoke                                  No
Length: 18173, dtype: object

In [167]:
df.unstack()

rownames  0                 1
          1                 2
          2                 3
          3                 4
          4                 5
                     ...
type      1686            NaN
          1687    Hand-Rolled
          1688            NaN
          1689        Packets
          1690            NaN
Length: 21983, dtype: object

In [168]:
#  data cleaning,duplication and filtering
df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [169]:
df.duplicated()
# will tell which rows have been duplicated exactly same
# the first unq row returns false every copied row after 1st row shows true

0       False
1       False
2       False
3       False
4       False
        ...
1686    False
1687    False
1688    False
1689    False
1690    False
Length: 1691, dtype: bool

In [170]:
# looks like we dont have much duplicate rows
# lets remove the duplicate if any
new_df = df.drop_duplicates()
new_df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [171]:
# the new df also have 1691 rows which is same as the old df that means there are no duplicates

In [172]:
# replacing data in data frame
# example code given in notes:
#replaceFrame.replace(to_replace =[-786, 0], value= [np.nan, 2])
# we can use this to replace the NAN values bu fr this we need to manually give some specific data that will replace the gaps

In [173]:
# too see how many null values are present this wont give a count but will give whether it is true or false

In [174]:
df.isnull()

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,False,False,False,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,False,False,False,False,False,False,False,False,False,False,True,True,True
1687,False,False,False,False,False,False,False,False,False,False,False,False,False
1688,False,False,False,False,False,False,False,False,False,False,True,True,True
1689,False,False,False,False,False,False,False,False,False,False,False,False,False
1690,False,False,False,False,False,False,False,False,False,False,True,True,True

In [175]:
df.notnull()
# will tell true if it is not null

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,True,True,True,True,True,True,True,True,True,True,False,False,False
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,False,False,False
3,True,True,True,True,True,True,True,True,True,True,False,False,False
4,True,True,True,True,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,True,True,True,True,True,True,True,True,True,True,False,False,False
1687,True,True,True,True,True,True,True,True,True,True,True,True,True
1688,True,True,True,True,True,True,True,True,True,True,False,False,False
1689,True,True,True,True,True,True,True,True,True,True,True,True,True
1690,True,True,True,True,True,True,True,True,True,True,False,False,False

In [176]:
# to get count of NAN values
df.isnull().sum()

rownames                    0
gender                      0
age                         0
marital_status              0
highest_qualification       0
nationality                 0
ethnicity                   0
gross_income                0
region                      0
smoke                       0
amt_weekends             1270
amt_weekdays             1270
type                     1270
dtype: int64

In [177]:
# so we can see that the columns amt_weekends,amt_weekdays and type have 1270 NaN values but the other
# columns have 0 NaN values

In [178]:
# if we want to find the number of values that are taken into count ie; not NaN
df.count()

rownames                 1691
gender                   1691
age                      1691
marital_status           1691
highest_qualification    1691
nationality              1691
ethnicity                1691
gross_income             1691
region                   1691
smoke                    1691
amt_weekends              421
amt_weekdays              421
type                      421
dtype: int64

In [179]:
# if we want to use df.dropna() it will delete the entire row even if there is a single null value
# if we use df.dropna(how='all') it will delete the row only if alll the values in that row are null
# if we want to filter the NaN values through a column we need to use df.dropna(how='all',axis=1)
# if we want to filter the NaN values by mentioning a minimum value then if the row has that minimum number of Nan value it gets removed
# df.dropna(thresh=min,axis=1)

In [180]:
# lets perform these on duplicates
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [181]:
df1.dropna()

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
6,7,Male,53,Married,Degree,British,White,"Above 36,400",The North,Yes,6.0,6.0,Packets
8,9,Male,40,Single,GCSE/CSE,English,White,"2,600 to 5,200",The North,Yes,8.0,8.0,Hand-Rolled
9,10,Female,41,Married,No Qualification,English,White,"5,200 to 10,400",The North,Yes,15.0,12.0,Packets
20,21,Female,34,Married,GCSE/CSE,British,White,"2,600 to 5,200",The North,Yes,6.0,12.0,Packets
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,1675,Female,31,Single,GCSE/O Level,Scottish,White,"15,600 to 20,800",Scotland,Yes,20.0,10.0,Packets
1680,1681,Male,24,Single,No Qualification,Scottish,White,"Under 2,600",Scotland,Yes,15.0,15.0,Hand-Rolled
1683,1684,Male,35,Married,No Qualification,Scottish,White,"10,400 to 15,600",Scotland,Yes,3.0,12.0,Packets
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets

In [182]:
# we can see that by using the aboe method we deleted 1290 rows

In [183]:
df2.dropna(how='all')

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [184]:
# so there are no rows where all the values are null

In [185]:
df3.dropna(axis=1)

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No
...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No

In [186]:
# there are three columns with atleast 1 null value

In [187]:
df4.dropna(thresh=5,axis=1)

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [188]:
# lets fill the Nan values with 0
# lets make an duplicate data frame for that
df_fillzero = df.copy()
df_copy = df.copy()
df_fillzero.fillna(0)

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,0.0,0.0,0
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,0.0,0.0,0
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,0.0,0.0,0
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,0.0,0.0,0
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,0.0,0.0,0
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,0.0,0.0,0

In [189]:
df_fillzero
# this will still have NaN but not 0 since fillna will create a copy and fill but not rewrite into the orginal one

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,NaN,NaN,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,NaN,NaN,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [190]:
# lets calculate the mean of amout of ciggerets consumed on weekdays and weekend and accordinly fill the NaN values

In [191]:
weekends_mean = df['amt_weekends'].mean(skipna=True)
weekdays_mean = df['amt_weekdays'].mean(skipna=True)

In [192]:
print(weekends_mean)
print(weekdays_mean)

16.410926365795724
13.750593824228028

In [193]:
df['amt_weekends'].fillna(weekends_mean,inplace=True)
df['amt_weekdays'].fillna(weekdays_mean,inplace=True)

/tmp/ipython-input-423653465.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['amt_weekends'].fillna(weekends_mean,inplace=True)
/tmp/ipython-input-423653465.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['amt_weekdays'].fillna(weekdays_mean,inplace=True)

In [194]:
df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.000000,12.000000,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,16.410926,13.750594,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,16.410926,13.750594,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,16.410926,13.750594,NaN
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,16.410926,13.750594,NaN
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,16.410926,13.750594,NaN

In [195]:
# we can see that the amt_weekends and weekdays columns have been filed with respective means

In [196]:
# but for the type column we cant do this cause it is a Nominal type data so it would be best to replace it with label with highest count
highest_type =df['type'].value_counts().idxmax()

In [197]:
highest_type

'Packets'

In [198]:
# so packets is the most consumed type of cigerates
# so
df['type'].fillna(highest_type,inplace=True)

/tmp/ipython-input-2889143284.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['type'].fillna(highest_type,inplace=True)

In [199]:
df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.000000,12.000000,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,16.410926,13.750594,Packets
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,16.410926,13.750594,Packets
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,16.410926,13.750594,Packets
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,16.410926,13.750594,Packets
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,16.410926,13.750594,Packets

In [200]:
df.isnull().sum()
# to ensure if there are anymore null  values

rownames                 0
gender                   0
age                      0
marital_status           0
highest_qualification    0
nationality              0
ethnicity                0
gross_income             0
region                   0
smoke                    0
amt_weekends             0
amt_weekdays             0
type                     0
dtype: int64

In [201]:
# fill na values using backwoard and forward filling
copy2 = df_copy.copy()
df_copy.fillna(method='bfill')

/tmp/ipython-input-2043624281.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_copy.fillna(method='bfill')

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,12.0,12.0,Packets
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,6.0,6.0,Packets
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,6.0,6.0,Packets
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,6.0,6.0,Packets
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,20.0,20.0,Hand-Rolled
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,20.0,20.0,Packets
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [203]:
copy2.fillna(method='bfill')

/tmp/ipython-input-3945145057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  copy2.fillna(method='bfill')

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,12.0,12.0,Packets
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,6.0,6.0,Packets
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,6.0,6.0,Packets
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,6.0,6.0,Packets
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,20.0,20.0,Hand-Rolled
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Hand-Rolled
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,20.0,20.0,Packets
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.0,20.0,Packets
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,NaN,NaN,NaN

In [208]:
# lets create bins of age nd categorize the ppl based on their age and create a new column based in that
age_bins = [12, 19, 26, 60, 100]
age_labels = ['Kid', 'Teen', 'middle-aged', 'Senior citizen']
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels)

In [209]:
df.head(5)

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type,age_group
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets,middle-aged
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.000000,12.000000,Packets,middle-aged
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,16.410926,13.750594,Packets,middle-aged
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,16.410926,13.750594,Packets,middle-aged
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets,middle-aged

In [210]:
# lets categorize or bin the smokers based on their intensity or amount of smoke on weekdays and weekends
weekend_bins = [0, 5, 10, 25, 60]
weekend_labels = ['non-smoker', 'Light', 'Moderate', 'Heavy']
df['weekend_intensity'] = pd.cut(df['amt_weekends'], bins=weekend_bins, labels=weekend_labels)
weekday_bins = [0, 5, 10, 25, 60]
weekday_labels = ['non-smoker', 'Light', 'Moderate', 'Heavy']
df['weekdays_intensity'] = pd.cut(df['amt_weekdays'], bins=weekend_bins, labels=weekend_labels)

In [211]:
df

,rownames,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type,age_group,weekend_intensity,weekdays_intensity
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.000000,12.000000,Packets,middle-aged,Moderate,Moderate
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,Male,22,Single,No Qualification,Scottish,White,"2,600 to 5,200",Scotland,No,16.410926,13.750594,Packets,Teen,Moderate,Moderate
1687,1688,Female,49,Divorced,Other/Sub Degree,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Hand-Rolled,middle-aged,Moderate,Moderate
1688,1689,Male,45,Married,Other/Sub Degree,Scottish,White,"5,200 to 10,400",Scotland,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate
1689,1690,Female,51,Married,No Qualification,English,White,"2,600 to 5,200",Scotland,Yes,20.000000,20.000000,Packets,middle-aged,Moderate,Moderate
1690,1691,Male,31,Married,Degree,Scottish,White,"10,400 to 15,600",Scotland,No,16.410926,13.750594,Packets,middle-aged,Moderate,Moderate

In [212]:
# outlier identification

In [215]:
weekends_outliers = df[np.abs(df['amt_weekends']) > 50]
print(weekends_outliers[['gender','amt_weekends','amt_weekdays']])
# we are setting a value of 40 as a threshold as 40 ciggeretes in just 2 days seems unrealistic and can affect our analysis

      gender  amt_weekends  amt_weekdays
1182    Male          60.0          40.0
1659  Female          60.0          30.0

In [216]:
# so we have 2 outliers according to our assumption of taking a threshold of 50 ciggerets for weekends